<header>
    <h1>{{title}}</h1>
</header>

<section class="one-way">
    <h2>One Way Data Binding</h2>
    <p>Interpolamos variables y ejecutamos métodos de la clase en el template</p>
    <br>
    <h3>Variables y expresiones en el template</h3>
    <p>Sumar {{num_1}} + {{num_2}}: {{num_1 + num_2}}</p>
    <hr>
    <h3>Ejecución de métodos de la clase</h3>
    <p>Multiplicar las variables anteriores con un método: {{multiplyTwoNumbers(num_1, num_2)}}</p>
</section>
<section class="two-way">
    <h2>Two Way Data Binding</h2>
    <h3>Directiva ngModel</h3>
    <p>Vinculamos un valor de la clase con el template de tal modo que, al actualizarlo en el template, cambia en la
        clase.
    </p>
    <!-- Banana in the Box -->
    <input [(ngModel)]="message" type="text" placeholder="Tipea para actualizar">
    <p>Valor de la variable: '{{message}}'</p>
    <!-- entity codes because @ is reserved word in Angular template -->
    <h3>Directivas estructurales: <code>&commat;if &commat;else &commat;for</code>
    </h3>
    <p>Debajo vemos un texto condicional, basado en la variable <code>message</code></p>
    @if (message.toLowerCase().includes('toc toc')) {
    <p>¿Quién es?</p>
    }@else {
    <p>Default text</p>
    }
    <hr>
</section>