.btnGroup {
    display: flex;
    column-gap: 1rem;
}

section {
    & article:first-child {
        background-color: rgb(113, 9, 142);
    }

    & article:nth-child(2) {
        background-color: rgb(17, 95, 121);
    }

    & article:last-child {
        background-color: rgb(6, 86, 6);
    }
}